* {
	margin: 0;
	padding: 0;
}

img:hover,
a:hover {
	background-color: #eac3a0;
}

.focus {
	outline: none;
	line-height: 200px;
}
.focus:focus { background: #e3a4a4; }

body {
	line-height: 1.5;
	max-width: 768px;
	margin: 0 auto;
	background: #f6eaea;
	font-family: "Roboto";
}

img {
	max-width: 100%;
	vertical-align: middle;
	border: 0;
	padding: 5px;
}

.temperature {
	max-width: 100%;
	vertical-align: middle;
	border: 0;
	padding: 10px;
}

a { text-decoration: none; }

ul,
li { list-style: none; }

.brownbean {
	color: #521401;
}

.navigation {
	padding: 20px;
	overflow: hidden;
	margin-bottom: 20px;
}

.navigation img {
	float: left;
	margin-right: 50px;
}

.navigation img.logo {
	width: 120px;
}

.navigation nav { float: left; }

.navigation nav a {
	font-size: 20px;
	color: #000;
	margin: 0 20px;
	padding-bottom: 10px;
}

.navigation nav a:hover { border-bottom: 2px solid #4b1807; }

.navigation .cart {
	float: right;
	cursor: pointer;
	margin-left: -50px;
}

.navigation .cart img {
	float: right;
	height: auto;
	max-width: 15%;
	margin-top: -30px;
}

.heading {
	text-align: center;
	margin-bottom: 30px;
}

.options {
	text-align: center;
}

.bottom {
	text-align: center;
	position: relative;
	margin-bottom: 20px;
}

.options p {
	font-size: 12px;
	margin-bottom: 20px;
	cursor: pointer;
}

.options h2 {
	font-size: 14px;
}

.bottom p {
	background: #4c1705;
	font-size: 12px;
	color: #fff;
	position: absolute;
	right: 50%;
	top: 0;
	padding: 5px 10px;
	border-radius: 30px;
	margin-right: -190px;
}

.Instruction {
	overflow: hidden;
	margin-bottom: 20px;
}

.Instruction img {
	width: 70px;
	float: left;
	margin-left: 30px;
	margin-right: 30px;
}

.Instruction h1 {
	font-size: 24px;
	float: left;
	line-height: 60px;
}

.Instruction1 span {
	font-size: 12px;
	float: left;
	line-height: 30px;
	font-weight: normal;
}

.Instruction1 h1 {
	font-size: 24px;
	float: left;
	line-height: 30px;
}

.temperature img {
	width: 70%;
	margin: 20px auto;
	border-radius: 80px;
}

.blend {
	text-align: left;
	padding: 5px 20px;
}

.blend h2 {
	font-size: 13px;
	width: 52%;
	float: left;
}

.blend h3 {
	font-size: 13px;
	font-weight: normal;
	width: 52%;
	float: left;
}

.blend h4 {
	font-size: 12px;
	font-weight: normal;
}

.blend .line {
	font-size: 13px;
	font-weight: normal;
	width: 47%;
	float: left;
	margin-top: 10px;
	line-height: 2;
	border-left: 1px solid #4c1705;
	padding-left: 5px;
}

.blend .blend1 {
	font-size: 12px;
	font-weight: normal;
}

.med-light {
	overflow: hidden;
	margin-bottom: 30px;
}

.blend img {
	width: 44%;
	float: left;
	border-radius: 15px;
	margin-right: 4%;
}

.dark {
	overflow: hidden;
	margin-bottom: 30px;
}

.light {
	overflow: hidden;
	margin-bottom: 30px;
}

.options .c1 {
	margin-top: -72%;
}

.line span {
	display: inline-block;
	width: 6px;
	height: 6px;
	border-radius: 100%;
	background: #d9d9d9;
	margin-left: 4px;
}

.line span.c { background: #4b1807; }

.anima {
	animation-name: likes;
	animation-direction: alternate;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-duration: 2s;
}

@keyframes likes {
	0% {
		transform: rotate(-5deg);
	}

	25% {
		transform: rotate(5deg);
	}

	50% {
		transform: rotate(12deg);
	}

	75% {
		transform: rotate(5deg);
	}

	100% {
		transform: rotate(-5deg);
	}
}

.c2:hover {
	background-color: transparent;
}

#page2 { display: none; }
#page3 { display: none; }
#page4 { display: none; }

@media all and (max-width: 768px) {
	.heading h1 { font-size: 24px; }
}

@media all and (max-width: 575px) {
	.blend {
		padding: 5px 10px;
	}

	.Instruction img {
		width: 70px;
		float: left;
		margin-left: 0;
		margin-right: 5px;
	}

	.Instruction h1 {
		font-size: 13px;
		float: left;
	}

	.navigation {
		margin-bottom: 10px;
	}

	.navigation img {
		float: left;
		margin-right: 20px;
	}

	.navigation img.logo {
		width: 85px;
	}

	.navigation nav a {
		font-size: 13px;
		color: #000;
		margin: 0;
	}

	.navigation .cart img {
		width: 27px;
	}

	.bottom p {
		margin-right: -174px;
	}

	.temperature {
		padding: 5px;
	}

	.temperature img {
		width: 70%;
		margin: 10px auto;
		border-radius: 50px;
	}

	.blend img {
		min-height: 150px;
	}

	.heading h1 {
		font-size: 18px;
	}
}

.others {
	margin-top: 100px;
}
