// Load CSS Reset from NPM
// CSS resets "normalize" how browser styles are applied.
// Try commenting this out and saving. What changes in the browser?
@import "~normalize.css";

// An example of a partial.
// Check out the _typography.scss file to edit the CSS inside!
@import "typography";

// You can still write styles in this file too.
// Here's an example of how you could write media queries more easily with Sass.

$large-phone: 500px;
$tablet-vertical: 768px;
$desktop: 1200px;

// And some color variables.
// Look how much easier it is to keep track of what these are than hex codes!

$red: #ab424a;
$orange: #dd7c00;
$green: #3b975f;
$blue: #4261ab;

.page-heading {
	color: $red;

	// Sass lets you write your media queries inline if you want.
	// This is why I'm always forgetting I have to put the class inside
	// the media query in regular CSS. I never have to in Sass!
	// I like combining these with variables to make it easier to read
	// my media queries.

	@media screen and (min-width: $large-phone) {
		color: $orange;
	}

	@media screen and (min-width: $tablet-vertical) {
		color: $green;
	}

	@media screen and (min-width: $desktop) {
		color: $blue;
	}
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.options {
	text-align: center;
}

.navigation nav {
	float: left;
}

nav {
	display: block;
}

.navigation {
	padding: 20px;
	overflow: hidden;
	margin-bottom: 20px;
}

img {
	max-width: 100%;
	vertical-align: middle;
	border: 0;
}

.step1 {
	font-size: 10px;
}

h2 {
	font-size: 8px;
}

p {
	font-size: 5px;
}

.blue {
	text-align: center;
	width: 15%;
}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

body {
	line-height: 1.5;
	max-width: 768px;
	margin: 0 auto;
	background: #f6eaea;
}

a { text-decoration: none; }

ul,
li { list-style: none; }

.navigation img {
	float: left;
	margin-right: 50px;
}

.navigation nav a {
	font-size: 20px;
	color: #000;
	margin: 0 20px;
	padding-bottom: 10px;
}

.navigation nav a.c {
	border-bottom: 2px solid #4b1807;
}

.navigation nav a:hover {
	border-bottom: 2px solid #4b1807;
}

.navigation .cart {
	float: right;
	background: #4b1807;
	padding: 10px 10px;
	cursor: pointer;
}

.navigation .cart img {
	float: right;
	margin-right: 0;
}

.heading {
	text-align: center;
	margin-bottom: 30px;
}

.bottom {
	text-align: center;
	position: relative;
	margin-bottom: 20px;
}

.options p {
	font-size: 12px;
	margin-bottom: 20px;
	cursor: pointer;
}

.options h2 {
	font-size: 14px;
}

.bottom p {
	background: #4c1705;
	font-size: 12px;
	color: #fff;
	position: absolute;
	right: 50%;
	top: 0;
	padding: 5px 10px;
	border-radius: 30px;
	margin-right: -190px;
}

.Instruction {
	overflow: hidden;
	margin-bottom: 20px;
}

.Instruction img {
	width: 70px;
	float: left;
	margin-left: 30px;
	margin-right: 30px;
}

.Instruction h1 {
	font-size: 24px;
	float: left;
	line-height: 60px;
}

.Instruction1 span {
	font-size: 12px;
	float: left;
	line-height: 30px;
	font-weight: normal;
}

.Instruction1 h1 {
	font-size: 24px;
	float: left;
	line-height: 30px;
}

.temperature img {
	width: 70%;
	margin: 20px auto;
	border-radius: 80px;
}

.blend {
	text-align: left;
	padding: 5px 20px;
}

.blend h2 {
	font-size: 13px;
	width: 52%;
	float: left;
}

.blend h3 {
	font-size: 13px;
	font-weight: normal;
	width: 52%;
	float: left;
}

.blend h4 {
	font-size: 12px;
	font-weight: normal;
}

.blend .line {
	font-size: 13px;
	font-weight: normal;
	width: 47%;
	float: left;
	margin-top: 10px;
	line-height: 2;
	border-left: 1px solid #4c1705;
	padding-left: 5px;
}

.blend .blend1 {
	font-size: 12px;
	font-weight: normal;
}

.med-light {
	overflow: hidden;
	margin-bottom: 30px;
}

.blend img {
	width: 44%;
	float: left;
	border-radius: 15px;
	margin-right: 4%;
}

.dark {
	overflow: hidden;
	margin-bottom: 30px;
}

.light {
	overflow: hidden;
	margin-bottom: 30px;
}

.line span {
	display: inline-block;
	width: 6px;
	height: 6px;
	border-radius: 100%;
	background: #d9d9d9;
	margin-left: 4px;
}

.line span.c {
	background: #4b1807;
}

@media all and (max-width: 1199px) {}

@media all and (max-width: 991px) {}

@media all and (max-width: 768px) {}

@media all and (max-width: 575px) {

	.blend { padding: 5px 10px; }
	.Instruction 
	img {
		width: 70px;
		float: left;
		margin-left: 0;
		margin-right: 5px;
	}

	.Instruction 
	h1 {
		font-size: 13px;
		float: left;
	}

	.navigation {
		margin-bottom: 10px;
	}

	.navigation 
	img {
		float: left;
		margin-right: 20px;
	}

	.navigation 
	nav 
	a {
		font-size: 13px;
		color: #000;
		margin: 0;
	}

	.bottom p {
		margin-right: -174px;
	}

	.temperature {
		padding: 5px;
	}

	.temperature 
	img {
		width: 70%;
		margin: 10px auto;
		border-radius: 50px;
	}

	.blend 
	img {
		min-height: 150px;
	}
}
